html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font: 1.6rem/1.5 'Montserrat', sans-serif;
  position: relative;
  padding-top: 10rem;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 1;
  z-index: -1;
  transition: opacity 5s linear;
}

.overlay.fade {
  opacity: 0.75;
}

.site-img {
  position: absolute;
  top: -50%;
  right: -50%;
  width: 200%;
  z-index: -2;
}

/* Timer styling */

.btn {
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

main {
  width: 95%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #0892d0;
  padding: 2rem;
  border-radius: 100px;
  color: white;
}

.title,
.time {
  text-align: center;
  font-weight: 400;
}

.title {
  font-size: 3rem;
}

.time {
  font-size: 5rem;
  letter-spacing: 1px;
}

.timer-controls {
  text-align: center;
  margin-bottom: 2rem;
}

.timer-controls .btn {
  padding: 0.5rem 2rem;
  width: 40%;
  max-width: 200px;
  margin: 0 1rem;
}

.options {
  width: 95%;
  max-width: 400px;
  margin: 0 auto 3rem auto;
}

.options-title {
  margin-bottom: 1rem;
}

.control-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1rem;
}

.form-submit {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 0.5rem 0;
}

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  height: 30px;
  width: 95%;
  max-width: 400px;
  color: red;
  background: rgba(255, 0, 0, 0.25);
  border-radius: 100px;
  margin: 2rem auto 0 auto;
  opacity: 0;
  transition: opacity 1.5s linear;
}

.site-img {
  animation: 70s ease-in infinite reverse both running effect1;
}

/*  */

@keyframes effect1 {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes effect2 {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes effect3 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(3);
  }
}

@keyframes effect4 {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(0.8);
  }
}
